<html>
    <head>
        <link rel="stylesheet" href="../static/css/home.css">
    </head>

	<body>

		<div>
			<p>Hello {{attributes["username"]}} !</p>
            <img src={{"http://localhost:5000/file/" + attributes["userpicturetoken"]}} class="profil_picture_small">
		</div>

		<div>
			<form action = "/create_server" id="ServerCreationForm" name="ServerCreationForm" onsubmit="return ValidateFormRegister()" method = "POST">
            
        		<p><h3>Créer un serveur</h3></p>

        		<p id="LabelServername">Nom du serveur</p>
        		<p><input type = 'text' name = 'servername' required/></p>

        		<p><input type = 'submit' value = 'Créer le serveur'/></p>

    		</form>
		</div>

		<div class="dev">
            <p><h3>Mes serveurs : </h3></p>

            {% for server in attributes["servers"] %}
                <div class="dev">
                    <h3>+S{{ server["name"] }}<h3>

                    <!-- Formulaire de renommage du serveur -->
                    <div class="dev">
                        <form action = "/rename_server" id="ServerRenameForm" name="ServerRenameForm" onsubmit="return ValidateFormRegister()" method = "POST">
        
                        <p id="LabelNewServername">Nouveau nom du serveur</p>

                        <p><input type = 'hidden' name = 'server_id' value = {{ server["id"] }}></p>

                        <p><input type = 'text' name = 'server_name' required/></p>
        
                        <p><input type = 'submit' value = 'Renommer le serveur'/></p>

                        </form>
                    </div>

                    <!-- Formulaire de suppression du serveur -->
                    <div class="dev">
                        <form action = "/remove_server" id="ServerDeletionForm" name="ServerDeletionForm" onsubmit="return ValidateFormRegister()" method = "POST">

                        <p><input type = 'hidden' name = 'server_id' value = {{ server["id"] }}></p>
        
                        <p><input type = 'submit' value = 'Supprimer le serveur'/></p>

                        </form>
                    </div>

                    <!-- Formulaire de création d'un canal -->
                    <div class="dev">
                        <form action = "/create_channel" id="ChannelCreationForm" name="ChannelCreationForm" onsubmit="return ValidateFormRegister()" method = "POST">
        
                        <p id="LabelServername">Nom du canal</p>

                        <p><input type = 'hidden' name = 'server_id' value = {{ server["id"] }}></p>

                        <p><input type = 'text' name = 'channel_name' required/></p>
        
                        <p><input type = 'submit' value = 'Créer le canal'/></p>

                        </form>
                    </div class="dev">

                    {% for channel in server["channels"] %}

                        <div>
                            <h4>+C {{ channel["name"] }}</h4>
                        </div>

                        <div class="dev">
                            <form action = "/rename_channel" id="ChannelRenameForm" name="ChannelRenameForm" on submit="return ValidateFormRegister()" method = "POST">
    
                            <p><input type = 'hidden' name = 'channel_id' value = {{ channel["id"] }}></p>
    
                            <p><input type = 'text' name = 'channel_name' required/></p>
            
                            <p><input type = 'submit' value = 'Renommer le canal'/></p>
    
                            </form>
                        </div>

                        <div class="dev">
                            <form action = "/remove_channel" id="ChannelDeletionForm" name="ChannelDeletionForm" on submit="return ValidateFormRegister()" method = "POST">
    
                            <p><input type = 'hidden' name = 'channel_id' value = {{ channel["id"] }}></p>
            
                            <p><input type = 'submit' value = 'Supprimer le canal'/></p>
    
                            </form>
                        </div>

                        <div class="dev">

                            {% for message in channel["last_messages"] %}

                            <div class="dev">
                                <img src={{"/file/" + message["image_token"] }} class="profil_picture_small">
                                <p> {{ message["name"] }} </p>
                                <p> {{ message["content"] }} </p>
                            </div>

                            {% endfor %}

                            <div class="dev">
                                
                                <form action="/post_message" method="POST">

                                    <input type="hidden" name="channel_id" value = {{ channel["id"] }}>

                                    <input type="text" name="content">

                                    <input type="submit" value="Envoyer">
                                    
                                </form>

                            </div>

                        </div>

                    {% endfor %}

                </div>
            {% endfor %}
		</div>

        <div class="dev">
            <p><h3>Mes amis : </h3></p>

            {% for friend in attributes["friends"] %}
                <img src={{"/file/" + friend["image_token"]}} class="profil_picture_small">
                <p>{{ friend["name"] }}</p>
            {% endfor %}
        </div>

        <div class="dev">
            <form action="/change_profilepicture" method="post" enctype="multipart/form-data">

                <h3> Select image to upload: </h3>

                <input type="file" name="profil_picture" id="profil_picture">

                <input type="submit" value="Upload Image" name="submit">

            </form>
        </div>

	</body>
</html>