<html Lang="fr"> 
<head> 
   <meta charset="UTF-8"> 
   <meta http-equiv="X-UA-Compatible content="IE=edge> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <link rel="stylesheet" href="../static/css/login.css"> 
   <title>Dispute Inscription</title> 
</head>
<body>
    <div class="contianer"> 
        <div class="bg-img"></div> 
        <div class="content">  
            <form action = "/register" id="RegisterForm" name="RegisterForm" onsubmit="return ValidateFormRegister()" method = "POST">
                <div>
                    <input type="text" name='username' placeholder="Nom d'utilisateur" required> 
                    <input type="email" name='email' placeholder="Email" required> 
                    <input type="password" name='password' placeholder="Mot de passe" required>
                    <input type="password" name='passwordc' placeholder="Confirmation du mot de passe" required>
                </div>
                <button>Inscription</button>
            </form>
            <img src="../static/images/logo.png" width="100" align="center"> 
        </div>
    </div>
</body>
</html>

<script type="text/javascript">

    document.getElementById('RegisterForm').onsubmit = function() {
        return ValidateFormRegister();
    };

    function ValidateEmail(email) {
    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
    
    function ValidateFormRegister() {

        let x = true;

        document.getElementById("LabelPseudonyme").textContent = "Pseudonyme";
        document.getElementById("LabelPseudonyme").style.color = "black";

        document.getElementById("LabelEmail").textContent = "Adresse mail";
        document.getElementById("LabelEmail").style.color = "black";

        document.getElementById("LabelPassword").textContent = "Mot de passe";
        document.getElementById("LabelPassword").style.color = "black";

        document.getElementById("LabelPasswordc").textContent = "Confirmation du mot de passe";
        document.getElementById("LabelPasswordc").style.color = "black";

        if (document.forms["RegisterForm"]["username"].value == "") {
            document.getElementById("LabelPseudonyme").textContent = "Pseudonyme (invalide)";
            document.getElementById("LabelPseudonyme").style.color = "red";
            x = false;
        }

        if (document.forms["RegisterForm"]["email"].value == "" || !ValidateEmail(document.forms["RegisterForm"]["email"].value)) {
            document.getElementById("LabelEmail").textContent = "Adresse mail (invalide)";
            document.getElementById("LabelEmail").style.color = "red";
            x = false;
        }

        if (document.forms["RegisterForm"]["password"].value != document.forms["RegisterForm"]["passwordc"].value){
            document.getElementById("LabelPassword").textContent = "Mot de passe (incohérent)";
            document.getElementById("LabelPassword").style.color = "red";

            document.getElementById("LabelPasswordc").textContent = "Confirmation du mot de passe (incohérent)";
            document.getElementById("LabelPasswordc").style.color = "red";
            x = false;
        }

        console.log(x);

        return x;
    }

</script>

