<!DOCTYPE html>
<html lang="fr"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DISPUTE</title> 
    <link rel="stylesheet" href="../static/css/root.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet"> 
</head> 
<body>
    <div class="container">
        <nav>
            <img src="../static/images-root/logo.png" class="logo"> 
            
            <ul> 
                <li><a href="/login">Connexion</a></li> 
                <li><a href="/register">Inscription</a></li> 
            </ul>
        </nav>
        <div class="text-box"> 
            <p>PROJET DE <span class="auto-input spancolor"></span></p> 
            <h1>DISPUTE</h1>
            <h3>ERSATZ PEU SCRUPULEUX DE DISCORD</h3>
        </div> 
        <div class="social-icons"> 
            <a href="https://github.com/nikanorivanovitch/Dispute"><img src="../static/images-root/github.png" alt=""></a> 
            <a href="https://youtu.be/dQw4w9WgXcQ"><img src="../static/images-root/yt.png" alt=""></a> 
        </div> 
    </div> 
    <script src="../static/js/typed.js"></script> 
    <script> 
    var typed = new Typed (".auto-input", {
        strings : ["VIVIEN JOLY", "BASTIEN GARNIER", "GREGOIRE ACHARD"],
        typeSpeed : 30,
        backSpeed : 30,
        backDelay : 1500,
        Loop : true, 
    }) 
    </script> 
</body> 
</html>
